* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #e6f0f3;
    padding: 20px;
}

main {
    background: #144d5a;
    /* color: white; */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filter-btn:hover {
    background: #b1a576;
}

.products-section {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.products-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.products-top h2 {
    color: #144d5a;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter-btn {
    padding: 6px 12px;
    border: 1px solid gray;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn.active {
    background: black;
    color: white;
}

.title {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    animation: titleMove 8s linear(0 0%, 0.4 47.06%, 1 100%) infinite;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

@keyframes titleMove {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.product-card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

.img-wrap {
    width: 100%;
    height: 180px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: 0.3s;
}

.product-card:hover .img-wrap img {
    transform: scale(1.12);
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}

.product-card .desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* Price + button */
.card-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    color: #e63946;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #e63946;
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

